NODE_ENV=development
PORT=4000
MONGO_URI=mongodb://mongodb:change-me@localhost:27017/absliderdb?authSource=admin
REDIS_URL=redis://localhost:6379
JWT_SECRET=change-me-in-production
GEMINI_API_KEY=
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=miniouser
MINIO_SECRET_KEY=change-me

ADMIN_EMAIL=admin@abslider.com
ADMIN_PASSWORD=admin123456
ADMIN_NAME=Admin ABSlider
